.container {
  background: #08081b;
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: 100vh;
  padding: 16px;
}

.colOne {
  width: 50%;
  height: 100%;
  background-image: url("../../public/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 8px;
}

.colOne > img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.colTwo {
  width: 50%;
}

@media (max-width: 768px) {
  .contain {
    padding: 0px;
  }
  .container {
    padding: 0px 16px;
  }
  .colOne {
    display: none;
  }
  .colTwo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
